<!-- app/templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>League Fair Teams</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1 class="main-title">League Fair Teams</h1>

    <div class="main-controls">
        <form method="POST" id="summoner-form" class="summoner-form">
            <input type="text" name="game_name" id="game-name" placeholder="Enter Game Name" required>
            <input type="text" name="tag_line" id="tag-line" placeholder="Enter Tag Line" required>
            
            <div class="slider-container">
                <label for="matches-slider">Matches to Analyze</label>
                <input type="range" id="matches-slider" name="num_of_matches" min="0" max="100" value="5">
                <div id="slider-tooltip" class="slider-tooltip">5</div>
            </div>
            
            <div class="button-spinner-container">
                <button type="submit" id="add-summoner-button">
                    <span id="button-text">Add Summoner</span>
                </button>
                <div id="button-spinner" class="spinner"></div>
            </div>
        </form>

        <div class="buttons-container">
            <button type="button" id="clear-players-button" title="Clear All Players">🗑️</button>
            <button type="button" id="balance-teams-button" title="Balance Teams">⚖️</button>
        </div>
    </div>

    <p class="error" id="error-message" style="display:none;"></p>

    <div class="teams-container">
        <div class="team" id="team1">
            <h2>Team 1</h2>
            <ul id="list1" class="player-list">
            </ul>
        </div>

        <div class="team" id="team2">
            <h2>Team 2</h2>
            <ul id="list2" class="player-list">
            </ul>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
